@charset "UTF-8";
body, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul, li, h1, h2, h3, h4, h5, h6, p {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

* {
  box-sizing: border-box;
}


img {
  border: none;
}
html,body{
	width: 100%;
	height: 100%;
  background: url(../L/bg.jpg);
  background-size: 100% 100%;
	overflow: hidden;
	position: relative;
}
.bg1{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
.bg1 img{
  width: 100%;
  height: 100%;
}
.bg2{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
.bg2 img{
  width: 100%;
  height: 100%;
}
.bg3{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
.bg3 img{
  width: 100%;
  height: 100%;
}
.bg4{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
.bg4 img{
  width: 100%;
  height: 100%;
}
.bg5{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
.bg5 img{
  width: 100%;
  height: 100%;
}
.bg6{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
.bg6 img{
  width: 100%;
  height: 100%;
}
.bg7{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
.bg7 img{
  width: 100%;
  height: 100%;
}
.bg8{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
.bg8 img{
  width: 100%;
  height: 100%;
}
.bg9{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
.bg9 img{
  width: 100%;
  height: 100%;
}
.bg10{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
.bg10 img{
  width: 100%;
  height: 100%;
}
.bg11{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
.bg11 #bg11{
  width: 100%;
  height: 100%;
}
.bg11 #p9_zi{
    width: 11rem;
    height: 41rem;
    position: absolute;
    left: 50%;
    margin-left: -5.5rem;
    top: 12%;
  }
.bg12{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
.bg12 #bg12{
  width: 100%;
  height: 100%;
}
.bg13{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
.bg13 #bg13{
  width: 100%;
  height: 100%;
}
.bg14{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
.bg14 #bg14{
  width: 100%;
  height: 100%;
}
.bg12 #p10_zi{
    width: 28rem;
    height: 18rem;
    position: absolute;
    left: 10%;
    top: 8%;
  }
.f1{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 12rem;
    right: 7.2rem;
}
.f1a{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 55%;
    left: 15%;
}
.f2{
  width: 3rem;
  height: 3rem;
  border: 2px dashed #6E6554;
  border-radius: 50%;
  position: relative;
  top:0;
  left: 0;
  -webkit-animation:moveover 1.3s linear infinite;
  animation:moveover 1.3s linear infinite;
}
.f3{
  width: 2rem;
  height:2rem;
  border: 2px dashed #6E6554;
  border-radius: 50%;
  position: absolute;
  top:50%;
  left: 50%;
  margin-top: -1rem;
  margin-left: -1rem;
  -webkit-animation:move 2s linear infinite;
  animation:move 2s linear infinite;
}
.f4{
  width: 1rem;
  height: 1rem;
  border: 3px solid #433625;
  border-radius: 50%;
  position: absolute;
  top:50%;
  left: 50%;
  margin-top: -0.5rem;
  margin-left:-0.5rem;
}
.f11{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 65%;
    left: 50%;
    margin-left: -1.5rem;
}
.f12{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 65%;
    left: 30%;
}
.f22{
  width: 3rem;
  height: 3rem;
  border: 2px dashed #D1C2AD;
  border-radius: 50%;
  position: relative;
  top:0;
  left: 0;
  -webkit-animation:moveover 1.3s linear infinite;
  animation:moveover 1.3s linear infinite;
}
.f33{
  width: 2rem;
  height:2rem;
  border: 2px dashed #D1C2AD;
  border-radius: 50%;
  position: absolute;
  top:50%;
  left: 50%;
  margin-top: -1rem;
  margin-left: -1rem;
  -webkit-animation:move 2s linear infinite;
  animation:move 2s linear infinite;
}
.f44{
  width: 1rem;
  height: 1rem;
  border: 3px solid #D1C2AD;
  border-radius: 50%;
  position: absolute;
  top:50%;
  left: 50%;
  margin-top: -0.5rem;
  margin-left:-0.5rem;
}
@keyframes moveover {
  0%   {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}
@-webkit-keyframes moveover {
  0%   {-webkit-transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);}
}
@keyframes move {
  0%   {transform:rotate(360deg);}
  100% {transform:rotate(0deg);}
}
@-webkit-keyframes move {
  0%   {-webkit-transform:rotate(360deg);}
  100% {-webkit-transform:rotate(0deg);}
}
.xiajian{
  width: 1.42rem;
  height: 1.8rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
.jian {
  width: 1.42rem;
  height: 1.8rem;
  background: url(../L/button.png) no-repeat;
  background-size: 100% 100%;
  -webkit-animation: margins 1s linear infinite;
  animation: margins 1s linear infinite;  
}
.le{
  width: 2.7rem;
  height: 2.86rem;
  position: absolute;
  top:1.5rem;
  right:1.4rem;
  background: url(../L/button_le.png) no-repeat;
  background-size: 100% 100%;
  -webkit-animation: move 2s linear infinite;
  animation: move 2s linear infinite;  
}
.le1{
  width: 3.2rem;
  height: 3.4rem;
  position: absolute;
  top:1.5rem;
  right:1.4rem;
  background: url(../L/button_leb.png) no-repeat;
  background-size: 100% 100%;
  -webkit-animation: move 3s linear infinite;
  animation: move 3s linear infinite; 
  z-index:999; 
}
@keyframes margins {
  0%   {margin-top: 1rem;}
  50%   {margin-top: 0rem;}
  100% {margin-top: 1rem;}
}
@-webkit-keyframes margins {
  0%   {margin-top: 1rem;}
  50%   {margin-top: 0rem;}
  100% {margin-top: 1rem;}
}
#topLoader{
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -2.8rem;
}
.jCProgress {
  position: absolute;
  z-index: 999;
 }
.jCProgress > div.percent {
    font: 18px/27px 'BebasRegular', Arial, sans-serif;
    color:#ebebeb;
    font-weight: bold;
    font-size: 30px;
    position:absolute;
    margin-top:60px;
    margin-left:65px;
    text-align: center;
    width:60px;
}
#p1{
  width: 100%;
  height:90px;
  position: absolute;
  top: 32%;
  left: 50%;
  margin-top: -86px;
  margin-left: -100px;
}
.v3{
  width: 26.4rem;
  height: 14rem;
  position: absolute;
  top:50%;
  left:50%;
  margin-left:-13.2rem;
  text-align: center;
}
.v3 img{
  width: 18rem;
  height: 11rem;
}
